@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --lato: "Lato", sans-serif;
  --sans-serif: sans-serif, verdana, tahoma;
  --gill-sans: "Gill Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--lato);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}
